<!DOCTYPE html>

<html lang="en">
<head>
    {% load staticfiles %}
    {% load crispy_forms_tags %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'EzFinance_Account/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <title>EzFinance-Password-Reset</title>

</head>
<body>



<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from manage your own saving!<br><br>
                "The result of planning this way is to make the rounds of the stores that offer the best sales by going
                a route that does not require doubling back or criss-crossing the city. This route planning not only
                saves time, it saves gas." Byron Pulsifer</p>
            <input type="submit" name="" value="Contact Us"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <h2 class="register-heading">Password Reset</h2>
            <div class="tab-content col-md-7" id="myTabContent"
                 style="margin-right: 20%;margin-left: 21%; margin-top: 20%">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <hr id="colorgraphs">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <input type="submit" name="reg_btn" class="btnRegister" value="Reset Password"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'EzFinance_Account/js/jquery.min.js' %}"></script>
<script src="{% static 'users/javascript/design.js' %}"></script>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>