{% extends "EzFinance_Account/admin_base.html"%}
{% block content %}
<style>
    #filter_form {
        width: 50%;
        margin-top: 10px;
        margin-left : 74%
    }
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}



</style>
<div class="container emp-profile">

    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h2>
                    Fixed Deposit Analysis
                </h2>
            </div>
        </div>

    </div>
    <hr>
    <div class="col-md-14" style="margin-top:3%">
        <div class="bg-white rounded-lg p-5 shadow">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawVisualization);

function drawVisualization() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Month');
data.addColumn('number', 'EzFinance FD Registration');
data.addColumn('number', 'EzFinance FD Refund');
data.addColumn('number', 'EzFinance FD Claim');
 data.addRows({{ data|safe }});

  new google.visualization.LineChart(document.getElementById('curve_chart')).
      draw(data,
           {title: "Fixed Deposit Growth in {{currentYear}}",
            height:400,
            curveType: 'function',
            isStacked:"true",
            legend:{position: 'bottom'} }
      );
}


            </script>
            <div id="curve_chart" class="col-md-14" style="margin-top:0%"></div>
        </div>


    </div>

    <div class="col-md-14" style="margin-top:3%">
        <div class="bg-white rounded-lg p-5 shadow">
            <h4>
                Fixed Deposit
            </h4>
            <hr>
            <div class="row">

                {# icon and search-box #}
                <div class="col-md-12" style="margin-bottom:20px;margin-top:10px;text-align:right">
                    <form method="get">
                        <button type="submit" id="completed-task" class="fabutton">
                            <i class="fa fa-search"></i>&nbsp;
                        </button>

                        <input name="q" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>

                {# artist-list section #}

            </div>
            <table class="table table-hover">
                <thead class="thead-dark" align="center">
                <tr>
                    <th scope="col">Fixed Deposit Account</th>
                    <th scope="col">Account Created<br>Date & Time</th>
                    <th scope="col">Maturity Date</th>
                    <th scope="col">Interest Rate</th>
                    <th scope="col">Amount</th>
                    <th scope="col">EzFinance Account</th>
                    <th scope="col">Active</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody align="center">
                {% if transaction_fixeddeposit %}
                {% for all_transaction_fixeddeposit in users %}
                <tr>
                    {% if all_transaction_fixeddeposit.maturity_date <= today_date %}
                    <th scope="row"><font color="orangered">#{{ all_transaction_fixeddeposit.id|add:"+4045219663"}}</font></th>
                    {% else %}
                    <th scope="row">#{{ all_transaction_fixeddeposit.id|add:"+4045219663" }}</th>
                    {% endif %}
                    <td>{{ all_transaction_fixeddeposit.deposit_date|date:'d M Y H:i:s' }}</td>
                    <td>{{ all_transaction_fixeddeposit.maturity_date }}</td>
                    <td>{{ all_transaction_fixeddeposit.interest_rate|floatformat:2 }}% p.a.</td>
                    <td>{{ all_transaction_fixeddeposit.fixedDeposit_amount|floatformat:2 }}</td>
                    <td>{{ all_transaction_fixeddeposit.user.id|add:"+6067071528" }}</td>
                    <td>Yes</td>
                    <td><a href="mailto:{{ all_transaction_fixeddeposit.user.email }}?subject=EzFinance Fixed Deposit Service - Account no: #{{ all_transaction_fixeddeposit.id|add:'+4045219663' }}&body=Your EzFinance Fixed Deposit Account - #{{ all_transaction_fixeddeposit.id|add:'+4045219663' }} had reached it maturity
 date. Please login your EzFinance Account to process the claim action. Thank you. "><span
                            class="fa fa-envelope mr-3"></span></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" align="center">
                        No Record Show
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            {% if users.has_other_pages %}
            <ul class="pagination">
                {% if users.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                <li class=" page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li class=" page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if users.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}