{% extends "EzFinance_Account/admin_base.html"%}
{% block content %}
<style>
    #filter_form {
        width: 50%;
        margin-top: 10px;
        margin-left : 74%
    }
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}




</style>
<div class="container emp-profile">


    <div class="col-md-14" >
        <div class="bg-white rounded-lg p-5 shadow">
            <h4>
                Customer Feedback
            </h4>
            <hr>
            <div class="row">

                {# icon and search-box #}
                <div class="col-md-12" style="margin-bottom:20px;margin-top:10px;text-align:right">
                    <form method="get">
                        <button type="submit" id="completed-task" class="fabutton">
                            <i class="fa fa-search"></i>&nbsp;
                        </button>

                        <input name="q" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>

                {# artist-list section #}

            </div>
            <table class="table table-hover">
                <thead class="thead-dark" align="center">
                <tr>
                    <th scope="col">Case ID</th>
                    <th scope="col">Case Created<br>Date & Time</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody align="center">
                {% if customer_feedback %}
                {% for all_customer_feedback in users %}
                <tr>

                    <th scope="row">#{{ all_customer_feedback.id|add:"+1140" }}</th>
                    <td>{{ all_customer_feedback.date|date:'d M Y H:i:s' }}</td>
                    <td>{{ all_customer_feedback.name }}</td>
                    <td>{{ all_customer_feedback.email }}</td>
                    <td>{{ all_customer_feedback.phone }}</td>
                    {% if all_customer_feedback.check == False %}
                    <td>
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Pending</span>
                        </div>
                    </td>
                    {% else %}
                    <td><span class="fa fa-check-circle fa-2x" style="color:lawngreen"></span></td>
                    {% endif %}
                    <td> <a href="{% url 'customer_service_case' all_customer_feedback.pk  %}" type="button"
                           class="btn btn-secondary">Details</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" align="center">
                        No Record Show
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            {% if users.has_other_pages %}
            <ul class="pagination">
                {% if users.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                <li class=" page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li class=" page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if users.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-md-14" style="margin-top:3%">
        <div class="bg-white rounded-lg p-5 shadow">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawVisualization);

function drawVisualization() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Month');
data.addColumn('number', 'EzFinance Issue Feedback');

 data.addRows({{ data|safe }});

  new google.visualization.LineChart(document.getElementById('curve_chart')).
      draw(data,
           {title: " EzFinance Issue Feedback in {{currentYear}}",
            height:400,
            curveType: 'function',
            isStacked:"true",
            legend:{position: 'bottom'} }
      );
}



            </script>
            <div id="curve_chart" class="col-md-14" style="margin-top:0%"></div>
        </div>


    </div>
</div>

{% endblock content %}