{% extends "EzFinance_Account/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
    .container {
    position: static;
     margin-top: 50px;
    }
body {
  background: #ff7e5f;
  background: -webkit-linear-gradient(to right, #3931af, #00c6ff);
  background: linear-gradient(to right, #3931af, #00c6ff);
  min-height: 100vh;
}
.title-color{
  color:#3931af;

}
.btn-hover:hover{
 background-color: linen;
}
.icon-hover:hover{
color:red !important;
}

.blinking2{
    animation:blinking2Text 1.3s infinite;
}
@keyframes blinking2Text{
    0%{     color: orangered;    }
    49%{    color: orangered; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: orangered;    }
}
</style>
<div class="container emp-profile" style="padding-left:2%; padding-right:2%; padding-top:2%;">

    <div class="row">

        <div class="col-md-12">
            <div class="profile-head">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">EzFinance Job Vacancy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">My Applied List
                            {% if my_apply_list_count > 0 %}
                            ({{my_apply_list_count}})
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} ">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="col-md-12">
                        {% if vacancy_list %}
                        {% for vacancy_lists in users %}
                        {% if forloop.counter0 == 0 %}
                        <div class="bg-white rounded-lg shadow col-md-12" >
                            <div class="p-4">
                                <div class="row ">
                                    <div class="col-md-8" ><font size="5%"><strong class="title-color">{{vacancy_lists.job_position}}</strong></font><br>{{ vacancy_lists.job_employer_company }}</div>
                                    <div  class="col-md-4"  align="right" ><span class="fa fa-clock-o mr-3 " style="color:silver"></span><font size="3%">Posted on {{ vacancy_lists.job_posted_date|date:'d M Y' }}</font></div>
                                </div>
                                <div class="row " style="margin-top:2%">
                                    <div class="col-md-12">
                                        <label  style="border: 0.5px solid 	darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-map-marker mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_location }}</font></label>

                                    </div>
                                </div>
                                <div class="row " style="margin-top:0%">
                                    <div class="col-md-12">
                                     <label  style="border: 0.5px solid darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-usd mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_salary }}</font></label>
                                     &nbsp;<label  style="border: 0.5px solid darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-tags mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_type }}</font></label>
                                    </div>
                                </div>
                                <div class="row " style="margin-top:2%">
                                    <div class="col-md-12">
                                        <p><font style="font-weight: lighter; text-transform: uppercase; ">JOB DESCRIPTION: {{vacancy_lists.job_general_description|truncatewords:50}}</font></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 style=" padding:0%;">
                                <div class="col-md-4 btn-hover" style="border-top: medium solid whitesmoke;">
                                    <a  href="mailto:{{ vacancy_lists.job_employer_email }}?subject=Apply for {{ vacancy_lists.job_position }}"
                                            style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none; color:black; text-align: center;" class="icon-hover">
                                        <span class="fa fa-share-alt mr-3 fa-lg"></span><font size="3.5%">Apply via Email</font>
                                    </a>
                                </div>
                                <div class="col-md-4 btn-hover"
                                     style="border-left: medium solid whitesmoke; border-right: medium solid whitesmoke; border-top: medium solid whitesmoke; ">
                                    <button type="button" data-toggle="modal" data-target="#exampleModal{{vacancy_lists.id}}" style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none;" class="icon-hover">
                                        <span class="fa fa-pencil-square-o mr-3 fa-lg"></span><font
                                            size="3.5%">Apply</font></button>
                                </div>
                                <div class="col-md-4 btn-hover" style="border-top: medium solid whitesmoke;">
                                    <a href="{% url 'job_vacancy_list_detail' vacancy_lists.pk  %}" style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none; color:black; text-align: center;" class="icon-hover">
                                        <span class="fa fa-info-circle mr-3 fa-lg"></span><font
                                            size="3.5%">Detail</font></a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="bg-white rounded-lg shadow col-md-12" style="margin-top:2%">
                            <div class="p-4">
                                <div class="row ">
                                    <div class="col-md-8" ><font size="5%"><strong class="title-color">{{vacancy_lists.job_position}}</strong></font><br>{{ vacancy_lists.job_employer_company }}</div>
                                    <div  class="col-md-4"  align="right" ><span class="fa fa-clock-o mr-3 " style="color:silver"></span><font size="3%">Posted on {{ vacancy_lists.job_posted_date|date:'d M Y' }}</font></div>
                                </div>
                                <div class="row " style="margin-top:2%">
                                    <div class="col-md-12">
                                        <label  style="border: 0.5px solid 	darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-map-marker mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_location }}</font></label>

                                    </div>
                                </div>
                                <div class="row " style="margin-top:0%">
                                    <div class="col-md-12">
                                     <label  style="border: 0.5px solid darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-usd mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_salary }}</font></label>
                                     &nbsp;<label  style="border: 0.5px solid darkgray ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%; padding-top:0.1%;padding-bottom:0.2%;"><span class="fa fa-tags mr-3 " style="color:steelblue"></span><font color="steelblue" style="font-weight: lighter;">{{ vacancy_lists.job_type }}</font></label>
                                    </div>
                                </div>
                                <div class="row " style="margin-top:2%">
                                    <div class="col-md-12">
                                        <p><font style="font-weight: lighter; text-transform: uppercase; ">JOB DESCRIPTION: {{vacancy_lists.job_general_description|truncatewords:50}}</font></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                 style=" padding:0%;">
                                <div class="col-md-4 btn-hover" style="border-top: medium solid whitesmoke;">
                                    <a  href="mailto:{{ vacancy_lists.job_employer_email }}?subject=Apply for {{ vacancy_lists.job_position }}"
                                            style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none; color:black; text-align: center;" class="icon-hover">
                                        <span class="fa fa-share-alt mr-3 fa-lg"></span><font size="3.5%">Apply via Email</font>
                                    </a>
                                </div>
                                <div class="col-md-4 btn-hover"
                                     style="border-left: medium solid whitesmoke; border-right: medium solid whitesmoke; border-top: medium solid whitesmoke; ">
                                    <button type="button" data-toggle="modal" data-target="#exampleModal{{vacancy_lists.id}}" style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none;" class="icon-hover">
                                        <span class="fa fa-pencil-square-o mr-3 fa-lg"></span><font
                                            size="3.5%">Apply</font></button>
                                </div>
                                <div class="col-md-4 btn-hover" style="border-top: medium solid whitesmoke;">
                                    <a href="{% url 'job_vacancy_list_detail' vacancy_lists.pk  %}" style="width: 100%; display:block;padding:4%;margin: 10px 0;background-color:transparent;border: none;outline:none; color:black; text-align: center;" class="icon-hover">
                                        <span class="fa fa-info-circle mr-3 fa-lg"></span><font
                                            size="3.5%">Detail</font></a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{vacancy_lists.id}}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel{{vacancy_lists.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="max-width:50%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel{{vacancy_lists.id}}">Job Vacancy for {{vacancy_lists.job_position}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class=" col-md-12">

                                                <div class="row" style="margin-top:2%">
                                                    <div class="col-md-3" style="padding-top:1%">
                                                        <strong>Applicant Name</strong>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ vacancyForm.job_applicant_name|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3" style="padding-top:1%">
                                                        <strong>Contact no.</strong>
                                                    </div>
                                                    <div class="col-md-6">

                                                        {{ vacancyForm.job_applicant_contact_number|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3" style="padding-top:1%">
                                                        <strong>Email Address</strong>
                                                    </div>
                                                    <div class="col-md-8">
                                                        {{ vacancyForm.job_applicant_email|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" >
                                                        <strong>Make your Pitch ! </strong><font class="blinking2">(Recommended)</font>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-top:2%">
                                                        <strong>{{ vacancyForm.job_pitch }}</strong>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:1%">
                                                    <div class="col-md-4" style="padding-top:1%">
                                                        <strong>Upload Your Resume</strong>
                                                    </div>
                                                    <div class="col-md-8" style="padding-top:1%">
                                                        {{ vacancyForm.applicant_resume }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-12" style="margin-top:2%;">
                                                    <span class="small text-gray " style="color:mediumblue;"><strong>SECURITY NOTE:</strong> Your submission will only view by employer from {{ vacancy_lists.job_employer_company }}.</span>
                                                </div>
                                            </div>
                                                </div>
                                            <input type="hidden" name="vacancy_pk" value="{{vacancy_lists.pk}}">


                                            <div class="row">
                                                <div class="col-md-12" style="margin-top:2%" align="right">
                                                    <button type="submit" name="vacancy_submit_btn" class="btn btn-primary" style="border-radius:25px; padding:1%; padding-left:2%; padding-right:2%;"><span class="fa fa-paper-plane mr-3 "></span>Submit Application</button>
                                                </div>
                                            </div>



                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        {% endfor %}
                        {% endif %}
                        {% if users.has_other_pages %}
                        <div style="margin-top:2%" >
                        <ul class="pagination">
                            {% if users.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="disabled page-item"><span class="page-link">Previous</span></li>
                            {% endif %}
                            {% for i in users.paginator.page_range %}
                            {% if users.number == i %}
                            <li class=" page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class=" page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if users.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ users.next_page_number }}">Next</a></li>
                            {% else %}
                            <li class="disabled page-item"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                            </div>
                        {% endif %}
                    </div>


                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-md-12">
                        {% if my_apply_list %}
                        {% for my_apply_lists in users_apply_list %}
                        {% if forloop.counter0 == 0 %}
                            <div class="bg-white rounded-lg shadow col-md-12" data-toggle="tooltip" title="You can view or delete your job application by clicking navigation menu.">
                                <div class="p-3">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-top:0.3%">
                                            <font size="4%" color="mediumblue"><strong>{{my_apply_lists.job_post_list.job_position}}</strong></font><br>
                                            <span class="small text-gray">{{my_apply_lists.job_post_list.job_employer_company}}</span>
                                        </div>
                                        <div class="col-md-3" style="padding-top:0.3%">
                                            <span class="fa fa-clock-o mr-3 " style="color:silver"></span><font size="2px" color="darkgray">Applied on {{ my_apply_lists.job_apply_date|date:'d M Y' }}</font>
                                        </div>
                                        <div class="col-md-5" align="right" >
                                            {% if my_apply_lists.job_mark_as_read == False and my_apply_lists.job_reject == False %}
                                            <span class="fa fa-times mr-3 fa-lg" style="color:silver"></span><font >Mark as unread</font>
                                            {% elif my_apply_lists.job_mark_as_read == True and my_apply_lists.job_reject == False %}
                                            <span class="fa fa-check-circle mr-3 fa-lg" style="color:limegreen"></span><label  style="border: none ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%;  background-color:#f2ffe6; text-align:center;"><font  class="small text-gray" style="font-weight: lighter;">Employer is actively processing applicants</font></label>
                                            {% elif my_apply_lists.job_mark_as_read == True and my_apply_lists.job_reject == True or my_apply_lists.job_mark_as_read == False and my_apply_lists.job_reject == True %}
                                            <span class="fa fa-times-circle mr-3 fa-lg" style="color:#ff0000"></span><label  style="border: none ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%;  background-color:#ffe6e6; text-align:center;"><font  class="small text-gray" style="font-weight: lighter;">Employer has rejected your application</font></label>
                                            {% endif %}

                                            <div class="btn-group dropleft">
                                                <button type="button" class="btn "
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="background-color:transaparent">
                                                    <span class="fa fa-ellipsis-v  fa-sm" style="color:	lightslategray"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <!-- Dropdown menu links -->
                                                    <a class="dropdown-item" onclick="return confirm('Employer will not review your profile after your job application is deleted')" href="{% url 'job_vacancy_list_delete' my_apply_lists.pk  %}" style="text-align:center;">Delete Application</a>
                                                    <a class="dropdown-item" href="{% url 'job_vacancy_list_selected_review' my_apply_lists.job_post_list.pk  %}" style="text-align:center;">Job Description</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% else %}
                            <div class="bg-white rounded-lg shadow col-md-12" style="margin-top:2%">
                                <div class="p-3">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-top:0.3%">
                                            <font size="4%" color="mediumblue"><strong>{{my_apply_lists.job_post_list.job_position}}</strong></font><br>
                                            <span class="small text-gray">{{my_apply_lists.job_post_list.job_employer_company}}</span>
                                        </div>
                                        <div class="col-md-3" style="padding-top:0.3%">
                                            <span class="fa fa-clock-o mr-3 " style="color:silver"></span><font size="2px" color="darkgray">Applied on {{ my_apply_lists.job_apply_date|date:'d M Y' }}</font>
                                        </div>
                                        <div class="col-md-5" align="right" >
                                            {% if my_apply_lists.job_mark_as_read == False and my_apply_lists.job_reject == False %}
                                            <span class="fa fa-times mr-3 fa-lg" style="color:silver"></span><font >Mark as unread</font>
                                            {% elif my_apply_lists.job_mark_as_read == True and my_apply_lists.job_reject == False %}
                                            <span class="fa fa-check-circle mr-3 fa-lg" style="color:limegreen"></span><label  style="border: none ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%;  background-color:#f2ffe6; text-align:center;"><font  class="small text-gray" style="font-weight: lighter;">Employer is actively processing applicants</font></label>
                                            {% elif my_apply_lists.job_mark_as_read == True and my_apply_lists.job_reject == True or my_apply_lists.job_mark_as_read == False and my_apply_lists.job_reject == True %}
                                            <span class="fa fa-times-circle mr-3 fa-lg" style="color:#ff0000"></span><label  style="border: none ;border-radius: 25px; width:auto; padding-left:2%; padding-right:2%;  background-color:#ffe6e6; text-align:center;"><font  class="small text-gray" style="font-weight: lighter;">Employer has rejected your application</font></label>
                                            {% endif %}

                                            <div class="btn-group dropleft">
                                                <button type="button" class="btn "
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="background-color:transaparent">
                                                    <span class="fa fa-ellipsis-v  fa-sm" style="color:	lightslategray"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <!-- Dropdown menu links -->
                                                    <a class="dropdown-item" onclick="return confirm('Employer will not review your profile after your job application is deleted')" href="{% url 'job_vacancy_list_delete' my_apply_lists.pk  %}" style="text-align:center;">Delete Application</a>
                                                    <a class="dropdown-item" href="{% url 'job_vacancy_list_selected_review' my_apply_lists.job_post_list.pk  %}" style="text-align:center;">Job Description</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="row">
                                <div class="col-md-12" align="center" >
                                    <img src="https://i.pinimg.com/originals/43/3b/6c/433b6c5336c72a21bcfd9db8d831562a.gif" height="85%" >
                                </div>
                            </div>
                            {% endif %}
                            {% if users_apply_list.has_other_pages %}
                        <div style="margin-top:2%" >
                        <ul class="pagination">
                            {% if users_apply_list.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ users_apply_list.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="disabled page-item"><span class="page-link">Previous</span></li>
                            {% endif %}
                            {% for i in users_apply_list.paginator.page_range %}
                            {% if users_apply_list.number == i %}
                            <li class=" page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class=" page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if users_apply_list.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ users_apply_list.next_page_number }}">Next</a></li>
                            {% else %}
                            <li class="disabled page-item"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                            </div>
                        {% endif %}
                        </div>

                    </div>

            </div>
        </div>
    </div>
    </div>
    {% endblock content %}