{% extends "EzFinance_Account/base.html"%}
{% block content %}
<style type="text/css">
    .container {
    position: static;
     margin-top: 50px;
    }
#first_row,#second_row {
    margin-top: 20px;
    }
</style>
<div class="container emp-profile">
    <form method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-10">
                <div class="profile-head">
                    <h4>
                        Good Day,&nbsp {{ user.first_name }}&nbsp{{ user.last_name }}
                    </h4>

                    <p class="proile-rating">Last Update on <span> {{ user.account.updated_at|date:'d M Y H:i:s' }}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Account Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn" name="btnAddMore" >Edit Profile</button>

            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">
                     {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} ">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row" id="first_row" >
                            <div class="col-md-6">
                                <label>MyKad/Passport No</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.mykad }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.first_name }}&nbsp{{ user.last_name }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.phone }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.profesion }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.address }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Postcode</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.postcode }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.city }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.account.country }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row" id="second_row" >
                            <div class="col-md-6">
                                <label>Account no.</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ account_num }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Account Type</label>
                            </div>
                            <div class="col-md-6">
                                <p>Basic EzFinance Account</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Account Balance</label>
                            </div>
                            <div class="col-md-6">
                                <p>RM&nbsp{{ user.account.account_balance|floatformat:2 }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Account Owner</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.first_name }}&nbsp{{ user.last_name }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Created Date</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.date_joined }}</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-6">
                                <label>Password</label>
                            </div>
                            <div class="col-md-6">
                                <p>********</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}